*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #ffe;
    overflow: hidden;
}
h1{
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 600px;
    border: none;
    outline: none;
    margin: auto;
    font: {
        family: sans-serif;
        size: 6em;
        weight: bolder;
    }
    transform: rotate(-10deg) skewX(20deg);
    color: #eee;
    $b: #333;
    text-shadow: -1px 1px $b, 
                 -2px 2px $b, 
                 -3px 3px $b, 
                 -4px 4px $b, 
                 -5px 5px $b, 
                 -6px 6px $b, 
                 -7px 7px $b, 
                 -8px 8px $b, 
                 -9px 9px $b, 
                 -10px 10px $b,
                 -11px 11px $b,
                 -12px 12px $b,
                 -20px 20px rgba(0,0,0,.2);


}
.project{
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background: #323232;
    color: #fff;
    font-size: 11px;
}